*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#1f1f1f;
}

.logo img{
    height:40px;
}

.navbar nav a{
    margin-left:25px;
    text-decoration:none;
    color:white;
}

/* HERO */
.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#2c2c2c;
    color:white;
}

.hero-content h4{
    color:#d4af37;
    margin-bottom:10px;
}

.hero-content h1{
    font-size:48px;
}

.hero-content span{
    color:#d4af37;
}

.hero-content p{
    margin:20px 0;
}

.hero button{
    padding:12px 25px;
    border:none;
    background:#d4af37;
    color:black;
    cursor:pointer;
}

/* GALLERY */
.gallery{
    padding:60px 40px;
    text-align:center;
    background:#1f1f1f;
    color:white;
}

.gallery h3{
    color:#d4af37;
}

.gallery-grid{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.gallery-grid img{
    width:100%;
    border-radius:10px;
}

/* CONTACT */
.contact{
    padding:60px 40px;
    text-align:center;
    background:#2c2c2c;
    color:white;
}

.contact h4{
    color:#d4af37;
}

.contact-grid{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card{
    height:150px;
    background:#3a3a3a;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    color:#d4af37;
}

/* FOOTER */
footer{
    padding:20px;
    text-align:center;
    background:#111;
    color:white;
}